<div class="alert alert-success" role="alert">
  <strong>Success!</strong> See you on {{date}}.
</div>

<br />
<br />
<dl class="dl-horizontal">
  <dt>Appointment:</dt>
  <dd>{{type}} with {{calendar}}</dd>
  <dt>Time:</dt>
  <dd>{{date}} at {{time}}</dd>
  <dt>Name:</dt>
  <dd>{{firstName}} {{lastName}}</dd>
  <dt>E-mail:</dt>
  <dd>{{email}}</dd>
</dl>
